.blog-header, .blog-post, .blog-pagination {
  margin-bottom: 2rem;
}


/* padded image */
img.padded-image {
   padding: 10px;
   float: left;
   height: 400px;
  }

  p {
    margin-bottom: 1.7rem; /* Adjust the value as needed */
  }